<html>
	<head>
		<title><%= title %></title>
		<link rel="icon" href="../images/yuntech.ico" type="image/x-icon" />
	</head>
	<body>
		<div>
			<a href="/"><h1>Home</a> |
			<a href="/web/list">List All Data</a> |
			<a href="/web/map">Map</a>
		</div>
			<h1><%= title %></h1>
