<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Post 6 Headline, Post 5 Headline, Post 4 Headline, Post 4 Headline, Post 5 Headline, Post 6 Headline, Post 1 Headline, Post 2 Headline, Post 3 Headline, Post 4 Headline">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
	<link rel="stylesheet" href="/css/Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.0.3, nicepage.com">
	<link rel="icon" href="images/favicon.ico">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
	<script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
    }
  </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body"><header class=" u-clearfix u-header u-section-row-container" id="sec-8d75"><div class="u-section-rows">
        <div class="u-clearfix u-custom-color-1 u-hidden-xs u-section-row u-section-row-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="" id="sec-c20e">
          <div class="u-clearfix u-sheet u-sheet-1">
            <h3 class="u-headline u-text u-text-1">
              <a href="/"><img class="infoIMG" src="/favicontext.png"width="500" height="100"></a>
            </h3>
          </div>  
        </div>
        <div class="u-custom-color-2 u-section-row u-section-row-2" id="sec-8184">
          <div class="u-clearfix u-sheet u-sheet-2">
            <nav class="u-align-center u-menu u-menu-one-level u-menu-open-right u-offcanvas u-menu-1" data-responsive-from="MD">
              <div class="menu-collapse" style="font-size: 1.5rem; font-weight: 400;">
                <a class="u-button-style u-custom-active-color u-custom-border-radius u-custom-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-text-active-color u-custom-text-hover-color u-custom-text-shadow u-nav-link" href="#" style="padding: 4px 10px; font-size: calc(1em + 8px);">
                  <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-bc4f"></use></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-bc4f" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
                  </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                </a>
              </div>
              <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-spacing-0 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-active-custom-color-4 u-button-style u-custom-color-2 u-hover-custom-color-4 u-nav-link u-text-active-white u-text-hover-custom-color-3" href="/" style="padding: 8px 102px;">Home</a></li>
                  <li class="u-nav-item"><a class="u-active-custom-color-4 u-button-style u-custom-color-2 u-hover-custom-color-4 u-nav-link u-text-active-white u-text-hover-custom-color-3" href="/web/list" style="padding: 8px 102px;">List</a></li>
                  <li class="u-nav-item"><a class="u-active-custom-color-4 u-button-style u-custom-color-2 u-hover-custom-color-4 u-nav-link u-text-active-white u-text-hover-custom-color-3" href="/web/map" style="padding: 8px 96px 8px 102px;">Map</a></li>
                </ul>
              </div>
              <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav u-sidenav-1" data-offcanvas-width="150">
                  <div class="u-inner-container-layout u-sidenav-overflow">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/" style="padding: 18px 82px;">Home</a></li>
                      <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/web/list" style="padding: 18px 82px;">List</a></li>
                      <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/web/map" style="padding: 18px 82px;">Map</a></li>
                    </ul>
                  </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
              </div>
            </nav>
          </div> 
        </div>
      </div>
    </header>
	    <section class="u-clearfix u-custom-color-5" id="carousel_01c9">
          <h1 class="u-align-center u-expanded-width-xs">可辨識生物</h1>
      </section>
      <section class="u-clearfix u-custom-color-5 u-section-1" id="carousel_01c9">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/blog_options_json-->
          <div class="u-align-center u-blog u-container-style u-expanded-width-xs u-blog-1">
           <div class="u-list-control"></div>
            <div class="u-repeater u-repeater-1"><!--blog_post-->
              <div class="u-blog-post u-container-style u-repeater-item">
                <div class="u-container-layout u-similar-container u-container-layout-1"><!--blog_post_header-->
                 <h2 class="u-blog-control u-text u-text-1">
                  <!--blog_post_header_content-->野鴿<!--/blog_post_header_content-->
                  </h2><!--/blog_post_header-->
                  <!--blog_post_image-->
                  <img src="blogimg/Pigeon.jpg" alt="" class="u-blog-control u-image u-image-default u-image-1"><!--/blog_post_image-->
                  </a><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text"><!--blog_post_content_content-->
				          野鴿（學名：Columba livia），又名野鴿子、原鴿、鵓鴿。為人類所馴化的野鴿被稱為家鴿。<br>
				          分布於印度次大陸的部分地區、古北界南部，引種至世界各地，如今許多城鎮都有野化的鴿群。在中國西北部及喜馬拉雅山脈。
				          <!--/blog_post_content_content--></div><!--/blog_post_content-->
               </div>
              </div><!--/blog_post-->
            </div>
           <div class="u-list-control"></div>
          </div><!--/blog-->
        </div>
     </section>
    <section class="u-clearfix u-custom-color-5 u-section-2" id="carousel_06bf">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/blog_options_json-->
        <div class="u-align-center u-blog u-container-style u-expanded-width-xs u-blog-1">
          <div class="u-list-control"></div>
          <div class="u-repeater u-repeater-1"><!--blog_post-->
            <div class="u-blog-post u-container-style u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><!--blog_post_header-->
                <h2 class="u-blog-control u-text u-text-1">
                  <!--blog_post_header_content-->黑冠麻鷺<!--/blog_post_header_content-->
                </h2><!--/blog_post_header-->
                <!--blog_post_image-->
                  <img src="blogimg/Malayan_night_heron.jpg" alt="" class="u-blog-control u-image u-image-default u-image-1"><!--/blog_post_image-->
                </a><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text"><!--blog_post_content_content-->
				黑冠麻鷺（學名：Gorsachius melanolophus）又名黑冠鳽或黑冠虎斑鳽，臺灣話俗稱山暗光，亦有地瓜鳥和大笨鳥的別稱，是中型的鷺科鳥類，
				主要分布於季風亞洲的東南部至南部，其中大部分地區的族群是稀有留鳥，只有臺灣的族群在近年成為常見的留鳥，
				另有少數族群會在中國華南、斯里蘭卡與海洋東南亞之間遷徙。
				<!--/blog_post_content_content--></div><!--/blog_post_content-->
              </div>
            </div><!--/blog_post-->
          </div>
          <div class="u-list-control"></div>
        </div><!--/blog-->
      </div>
    </section>
    <section class="u-clearfix u-custom-color-5 u-section-3" id="carousel_f67a">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/blog_options_json-->
        <div class="u-align-center u-blog u-container-style u-expanded-width-xs u-blog-1">
          <div class="u-list-control"></div>
          <div class="u-repeater u-repeater-1"><!--blog_post-->
            <div class="u-blog-post u-container-style u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><!--blog_post_header-->
                <h2 class="u-blog-control u-text u-text-1">
                  <!--blog_post_header_content-->夜鷺<!--/blog_post_header_content-->
                </h2><!--/blog_post_header-->
                <!--blog_post_image-->
                  <img src="blogimg/Black_crowned_Night_Heron.jpg" alt="" class="u-blog-control u-image u-image-default u-image-1"><!--/blog_post_image-->
                </a><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text"><!--blog_post_content_content-->
				夜鷺（學名：Nycticorax nycticorax）又稱黑頂夜鷺，俗稱灰窪子、夜窪子、星雁、暗光鳥仔，是鷺科夜鷺屬的一種。<br>
				夜鷺是分布非常廣泛的一種鳥類，分布遍及歐亞大陸、非洲，整個美洲大陸及東南亞等地。<br>
				夜鷺在台灣為常見的留鳥，由於性喜食魚，魚類養殖業者視其為害鳥。
				<!--/blog_post_content_content--></div><!--/blog_post_content-->
              </div>
            </div><!--/blog_post-->
          </div>
          <div class="u-list-control"></div>
        </div><!--/blog-->
      </div>
    </section>
    <section class="u-clearfix u-custom-color-5 u-section-4" id="carousel_af73">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/blog_options_json-->
        <div class="u-align-center u-blog u-container-style u-expanded-width-xs u-blog-1">
          <div class="u-list-control"></div>
          <div class="u-repeater u-repeater-1"><!--blog_post-->
            <div class="u-blog-post u-container-style u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><!--blog_post_header-->
                <h2 class="u-blog-control u-text u-text-1">
                  <!--blog_post_header_content-->麻雀<!--/blog_post_header_content-->
                </h2><!--/blog_post_header-->
                <!--blog_post_image-->
                  <img src="blogimg/Sparrow.jpg" alt="" class="u-blog-control u-image u-image-default u-image-1"><!--/blog_post_image-->
                </a><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text"><!--blog_post_content_content-->
				麻雀（學名：Passer montanus）又名樹麻雀、霍雀、嘉賓、瓦雀、琉雀、家雀、老家子、老家賊、照夜、麻谷、南麻雀、賓雀、厝鳥、砉鶉；屋角鳥、屋簷鳥，是麻雀屬下的一種鳥類。<br>
				麻雀廣泛分布於歐亞大陸，歐洲、中亞、東南亞、東亞均可見到此物種。它們普遍在樹上築巢，身形比起其他鳥類來説比較小，身體大部分為褐色與白色，
				且相較其它鳥類特別的是，麻雀在陸地上移動時是用跳的。
				<!--/blog_post_content_content--></div><!--/blog_post_content-->
              </div>
            </div><!--/blog_post-->
          </div>
          <div class="u-list-control"></div>
        </div><!--/blog-->
      </div>
    </section>
    <section class="u-clearfix u-custom-color-5 u-section-5" id="carousel_5976">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/blog_options_json-->
        <div class="u-align-center u-blog u-container-style u-expanded-width-xs u-blog-1">
          <div class="u-list-control"></div>
          <div class="u-repeater u-repeater-1"><!--blog_post-->
            <div class="u-blog-post u-container-style u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><!--blog_post_header-->
                <h2 class="u-blog-control u-text u-text-1">
                  <!--blog_post_header_content-->綠頭鴨<!--/blog_post_header_content-->
                </h2><!--/blog_post_header-->
                <!--blog_post_image-->
                  <img src="blogimg/Mallard.jpg" alt="" class="u-blog-control u-image u-image-default u-image-1"><!--/blog_post_image-->
                </a><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text"><!--blog_post_content_content-->
				綠頭鴨（學名：Anas platyrhynchos）又名大頭綠（雄）、蒲鴨（雌）、野鴨，古稱鶩[註 1]，家鴨是其馴化亞種。綠頭鴨飛行速度可達到每小時65公里。<br>
				綠頭鴨是台灣常見的雁鴨科鳥類，主要分布於北半球，在台灣雖是冬候鳥，但也有不少的留鳥，人工飼養的歷史相當悠久，有些觀光地區的湖泊、水塘等也會飼養供觀賞。
				<!--/blog_post_content_content--></div><!--/blog_post_content-->
              </div>
            </div><!--/blog_post-->
          </div>
          <div class="u-list-control"></div>
        </div><!--/blog-->
      </div>
    </section>
    <section class="u-clearfix u-custom-color-5 u-section-6" id="carousel_e82b">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/blog_options_json-->
        <div class="u-align-center u-blog u-container-style u-expanded-width-xs u-blog-1">
          <div class="u-list-control"></div>
          <div class="u-repeater u-repeater-1"><!--blog_post-->
            <div class="u-blog-post u-container-style u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><!--blog_post_header-->
                <h2 class="u-blog-control u-text u-text-1">
                  <!--blog_post_header_content-->大卷尾<!--/blog_post_header_content-->
                </h2><!--/blog_post_header-->
                <!--blog_post_image-->
                  <img src="blogimg/Black_drongo.jpg" alt="" class="u-blog-control u-image u-image-default u-image-1"><!--/blog_post_image-->
                </a><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text"><!--blog_post_content_content-->
				大卷尾（學名：Dicrurus macrocercus，英語：Black drongo）為卷尾科卷尾屬的一種，又名黑卷尾，俗名吃杯茶、鐵煉甲、籬雞、鐵燕子、黑黎雞。<br>
				在台灣俗稱烏鶖或烏秋。分布於西自伊朗、阿富汗向東南至南亞和東南亞、俄羅斯、台灣以及中國大陸的黑龍江、吉林、遼寧、內蒙古、華北各省、西至陝西、四川、西藏、長江以南流域地區、西抵雲南、海南等地，
				常見於城郊村莊附近和廣大農村以及尤喜在村民屋前後高大的椿樹上營巢。
				<!--/blog_post_content_content--></div><!--/blog_post_content-->
              </div>
            </div><!--/blog_post-->
          </div>
          <div class="u-list-control"></div>
        </div><!--/blog-->
      </div>
    </section>
    <section class="u-clearfix u-custom-color-5 u-section-7" id="carousel_e870">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/blog_options_json-->
        <div class="u-align-center u-blog u-container-style u-expanded-width-xs u-blog-1">
          <div class="u-list-control"></div>
          <div class="u-repeater u-repeater-1"><!--blog_post-->
            <div class="u-blog-post u-container-style u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><!--blog_post_header-->
                <h2 class="u-blog-control u-text u-text-1">
                  <!--blog_post_header_content-->中白鷺<!--/blog_post_header_content-->
                </h2><!--/blog_post_header-->
                <!--blog_post_image-->
                  <img src="blogimg/Intermediate_Egret.jpg" alt="" class="u-blog-control u-image u-image-default u-image-1"><!--/blog_post_image-->
                </a><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text"><!--blog_post_content_content-->
				中白鷺（學名：Ardea Intermedia）為鷺科蒼鷺屬的鳥類，俗名春鋤。<br>
				分布於非洲、印度、孟加拉國、緬甸、馬來半島、菲律賓、越南至日本、巽他群島、馬魯古群島、澳大利亞以及中國大陸的中國南部、
				西至陝西、甘肅、四川、雲南、貴州、北至河南為夏候鳥、廣東、海南、台灣為冬候鳥、偶見於北京等地，多生活於稻田、湖泊、沼澤及灘涂、
				築巢於村寨附近的喬木和竹林上以及在貴州分布於海拔400-800m。
				<!--/blog_post_content_content--></div><!--/blog_post_content-->
              </div>
            </div><!--/blog_post-->
          </div>
          <div class="u-list-control"></div>
        </div><!--/blog-->
      </div>
    </section>
    <section class="u-clearfix u-custom-color-5 u-section-8" id="carousel_4c8e">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/blog_options_json-->
        <div class="u-align-center u-blog u-container-style u-expanded-width-xs u-blog-1">
          <div class="u-list-control"></div>
          <div class="u-repeater u-repeater-1"><!--blog_post-->
            <div class="u-blog-post u-container-style u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><!--blog_post_header-->
                <h2 class="u-blog-control u-text u-text-1">
                  <!--blog_post_header_content-->八哥<!--/blog_post_header_content-->
                </h2><!--/blog_post_header-->
                <!--blog_post_image-->
                  <img src="blogimg/Crested_Myna.jpg" alt="" class="u-blog-control u-image u-image-default u-image-1"><!--/blog_post_image-->
                </a><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text"><!--blog_post_content_content-->
				八哥（學名：Acridotheres cristatellus），別名有鸚鵒、寒皋、鴝鵒、鸜鵒、蒼鵒、𪈻鵒、駕鴒、加令、中國鳳頭八哥、鳳頭八哥、沉香色八哥、了哥，古時稱秦吉了，是八哥屬的一種鳥類。<br>
				八哥生活在草原和山區的樹林中，善於鳴叫，也會模仿其他鳥的叫聲，經過訓練，還能模仿人類說話。
				<!--/blog_post_content_content--></div><!--/blog_post_content-->
              </div>
            </div><!--/blog_post-->
          </div>
          <div class="u-list-control"></div>
        </div><!--/blog-->
      </div>
    </section>
    <section class="u-clearfix u-custom-color-5 u-section-9" id="carousel_75ce">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/blog_options_json-->
        <div class="u-align-center u-blog u-container-style u-expanded-width-xs u-blog-1">
          <div class="u-list-control"></div>
          <div class="u-repeater u-repeater-1"><!--blog_post-->
            <div class="u-blog-post u-container-style u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><!--blog_post_header-->
                <h2 class="u-blog-control u-text u-text-1">
                  <!--blog_post_header_content-->雲科狗狗<!--/blog_post_header_content-->
                </h2><!--/blog_post_header-->
                <!--blog_post_image-->
                  <img src="blogimg/Dog.jpg" alt="" class="u-blog-control u-image u-image-default u-image-1"><!--/blog_post_image-->
                </a><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text"><!--blog_post_content_content-->
				在雲科校內及周圍活動的狗狗，由雲科旺旺社負責管理。
				<!--/blog_post_content_content--></div><!--/blog_post_content-->
              </div>
            </div><!--/blog_post-->
          </div>
          <div class="u-list-control"></div>
        </div><!--/blog-->
      </div>
    </section>
    <section class="u-clearfix u-custom-color-5 u-section-10" id="carousel_2568">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/blog_options_json-->
        <div class="u-align-center u-blog u-container-style u-expanded-width-xs u-blog-1">
          <div class="u-list-control"></div>
          <div class="u-repeater u-repeater-1"><!--blog_post-->
            <div class="u-blog-post u-container-style u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><!--blog_post_header-->
                <h2 class="u-blog-control u-text u-text-1">
                  <!--blog_post_header_content-->赤腹松鼠<!--/blog_post_header_content-->
                </h2><!--/blog_post_header-->
                <!--blog_post_image-->
                  <img src="blogimg/Red_bellied_Squirrel.jpg" alt="" class="u-blog-control u-image u-image-default u-image-1"><!--/blog_post_image-->
                </a><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text"><!--blog_post_content_content-->
				赤腹松鼠（學名：Callosciurus erythraeus）為松鼠科麗松鼠屬的動物。分布於孟加拉國、柬埔寨、印度、寮國、馬來西亞、緬甸、泰國、越南、台灣、西藏及中國的陝西、安徽、雲南、海南、四川、江蘇、福建、浙江、湖北等地，主要生活於熱帶、亞熱帶森林。<br>
				赤腹松鼠台北亞種（學名：Callosciurus erythraeus roberti），Bonhte於1901年命名。在台灣，分布於台北等地。該物種的模式產地在台灣西北部。
				<!--/blog_post_content_content--></div><!--/blog_post_content-->
              </div>
            </div><!--/blog_post-->
          </div>
          <div class="u-list-control"></div>
        </div><!--/blog-->
      </div>
    </section>
    <section class="u-clearfix u-custom-color-5 u-section-11" id="carousel_1efc">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/blog_options_json-->
        <div class="u-align-center u-blog u-container-style u-expanded-width-xs u-blog-1">
          <div class="u-list-control"></div>
          <div class="u-repeater u-repeater-1"><!--blog_post-->
            <div class="u-blog-post u-container-style u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><!--blog_post_header-->
                <h2 class="u-blog-control u-text u-text-1">
                  <!--blog_post_header_content-->家鴨<!--/blog_post_header_content-->
                </h2><!--/blog_post_header-->
                <!--blog_post_image-->
                  <img src="blogimg/Duck.jpg" alt="" class="u-blog-control u-image u-image-default u-image-1"><!--/blog_post_image-->
                </a><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text"><!--blog_post_content_content-->
				家鴨（學名：Anas platyrhynchos domesticus）是經人工馴化和飼養的綠頭鴨，是常見的家禽。<br>
				經飼養的家鴨通常會用作食用或取其羽毛作羽絨，不少家鴨亦用於表演、觀賞或當為寵物。家鴨品種很多，北京鴨，土鴨，褐色菜鴨，和白色菜鴨等，是同一物種。
				<!--/blog_post_content_content--></div><!--/blog_post_content-->
              </div>
            </div><!--/blog_post-->
          </div>
          <div class="u-list-control"></div>
        </div><!--/blog-->
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-ed5b"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">製作者：麥光廷、劉佳瑋</p>
      </div></footer>
  </body>
</html>
